@model Example

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Example</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExampleText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExampleText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pronunciation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pronunciation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WordMeaning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WordMeaning.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentExample)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentExample.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
